* {
  margin: 0;
  padding: 10;
  box-sizing: border-box;
}

h1 {
  font-family: 'Abyssinica SIL', serif;
  color: #426696;
  font-weight: 600;
  font-size: 3rem;
  opacity: 0.8;
}
h2,
p {
  font-family: 'Abyssinica SIL', serif;
  color: #658ec6;
  font-weight: 500;
  opacity: 0.8;
}

h3 {
  font-family: 'Abyssinica SIL', serif;
  color: #FFFFFF;
  font-weight: 600;
}

font {
  font-family: 'Abyssinica SIL', serif;
}

B {
  font-family: 'Abyssinica SIL', serif;
}

h4{
  font-family: 'Abyssinica SIL', serif;
}


main {
  font-family: 'Abyssinica SIL', serif;
  min-height: 100vh;
  width: 50vh;
  background: linear-gradient(to right top, #3c76c3, #aa45ba);
  display: flex;
  padding: 1rem 3rem;
}

table {
  background: linear-gradient(to right top, #3c76c3, #aa45ba);
}

.dashboard {
  flex: 7;
  min-height: 35vh;
    text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 1rem;
}

